#pot-top {
    width: 348px;
    height: 33px;
    position: absolute;
    left: 39%;
    border: 3px solid rgb(243 204 150);
    transform: translateX(13px);
    top: 60%;
    border-radius: 65px;
    background-color: #f19515;
    z-index: 4;
}

#pot-bottom {
    width: 391px;
    height: 140px;
    position: absolute;
    left: 38%;
    border: 6px solid rgb(243 204 150);
    top: 62%;
    z-index: 0;
    transform: translateX(12px);
    background-color: rgb(226 140 19);
    border-radius: 114px;
}